<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Amasty Mega Menu GraphQl for Magento 2 (System)
*/-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <virtualType name="uidWrapper" type="Amasty\MegaMenuGraphQl\Model\Di\Wrapper">
        <arguments>
            <argument name="name" xsi:type="string">Magento\Framework\GraphQl\Query\Uid</argument>
        </arguments>
    </virtualType>

    <type name="Amasty\MegaMenuGraphQl\Model\Resolver\MenuTree">
        <arguments>
            <argument name="uidEncoder" xsi:type="object">uidWrapper</argument>
        </arguments>
    </type>

    <type name="Amasty\MegaMenuGraphQl\Model\Resolver\Menu">
        <arguments>
            <argument name="uidEncoder" xsi:type="object">uidWrapper</argument>
        </arguments>
    </type>
</config>
