<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="agtech_cmsblocks" frontName="agtech_cmsblocks">
            <module name="Agtech_CmsBlocks"/>
        </route>
    </router>
</config>