<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item-details">

    <div class="product-item-inner">
        <div class="product-item-name-block">
            <!-- ko if: productLinkEnabled($parent.item_id) -->
            <a class="product-item-link" data-bind="attr: {href: getProductHref($parent.item_id)}">
                <strong class="product-item-name" data-bind="html: $parent.name"></strong>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: productLinkEnabled($parent.item_id) -->
            <strong class="product-item-name" data-bind="html: $parent.name"></strong>
            <!-- /ko -->

            <div class="details-qty">
                <div class="qty-wrapper">
                    <input type="number" size="4" class="qty" data-bind="value: $parent.qty, event: { change: function(data, event) { newQty($parent, event); } }" />
                    <span class="qty-toggler qty-less" data-bind="click: function() { decQty($parent); }"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="butt" stroke-linejoin="miter" shape-rendering="crispEdges"><line x1="5" y1="12" x2="19" y2="12"></line></svg></span>
                    <span class="qty-toggler qty-more" data-bind="click: function() { incQty($parent); }"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="butt" stroke-linejoin="miter" shape-rendering="crispEdges"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></span>
                </div>
            </div>
        </div>
        <!-- ko foreach: getRegion('after_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>

    <!-- ko if: (JSON.parse($parent.options).length > 0)-->
    <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
        <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
        <div data-role="content" class="content">
            <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
            <dl class="item-options">
                <!--ko foreach: JSON.parse($parent.options)-->
                <dt class="label" data-bind="text: label"></dt>
                    <!-- ko if: ($data.full_view)-->
                    <dd class="values" data-bind="html: full_view"></dd>
                    <!-- /ko -->
                    <!-- ko ifnot: ($data.full_view)-->
                        <!-- ko if: label == "Credit"-->
                            <dd class="values credit" data-bind="text: $parent.getFormattedPrice(value)"></dd>
                        <!-- /ko -->

                        <!-- ko if: label == "Bonus"-->
                            <dd class="values bonus" data-bind="text: $parent.getFormattedPrice('10')"></dd>
                        <!-- /ko -->

                        <!-- ko if: label != "Bonus" && label != "Credit" -->
                            <dd class="values" data-bind="html: value"></dd>
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
            </dl>
        </div>
    </div>
    <!-- /ko -->
</div>
