<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magedia_StripeIntegration::menu" title="Magedia" translate="title" sortOrder="35">
                    <resource id="Magedia_StripeIntegration::topup_managment"
                              title="Topup Management" translate="title"
                              sortOrder="30">
                        <resource id="Magedia_StripeIntegration::manage_topups"
                                  title="Manage Topups" translate="title"
                                  sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
